*.log
*.o
*.d
*.su
*.dll
*.lib
*.list
*.bin
*.elf
*.hex
*.map
*.a
*.bat
*.hgignore

*.crf
*.axf
*.htm
*.lnp
*.sct
*.dep
*.uvguix*
*.uvoptx

.hg/
.settings/
Src/build
Src/Simulator
Debug
MDK-ARM/DebugConfig
MDK-ARM/Listings

*.md
*.txt
*.launch
